# Assignment - 4
- Lambda Functions

In [ ]:
#

### In progress, will create as we proceed with the topics

In [ ]:
import pandas as pd
from pydataset import data
from functools import reduce 

# Load mtcars dataset
df = data('mtcars')

In [ ]:
df.head()
df

### 4.1 Add Two Columns
- Create a new column mpg_hp_sum = mpg + hp using a lambda function.

In [ ]:
#mpg_hp_sum = ['mpg','hp'
df['mpg_hp_sum']=df.apply(lambda row: row['mpg'] + row['hp'], axis=1)
df.head()

### 4.2 Conditional Label
- Create a new column mpg_label:
	•	"High" if mpg > 20
	•	"Low" otherwise
- Use apply() with a lambda.

In [ ]:
# creat mpg_lable column
df['mpg_label']= df['mpg'].apply(lambda x: 'High' if x>20 else 'Low')
df.head(2)

### 4.3 Multiply Column Values
- Double all hp values using map() with a lambda.

In [ ]:
df['hp_dbl']= df['hp'].apply(lambda x: x*2)
df.head(3)

### 4.4 Filter Rows
- Get a list of all mpg values greater than 25 using filter() with a lambda.

In [ ]:
# creating a list
filtr_mpg= list(filter(lambda x: x>25, df['mpg']))
print(filtr_mpg)

### 4.5 Reduce to Total
- Use reduce() with a lambda to sum all cyl values in the dataset.

In [ ]:
sum_of_cyl = reduce(lambda x,y:x+y,df['cyl'])
print(sum_of_cyl)

### 4.6 Sort by Custom Rule
- Sort the dataset by the reverse of the car names’ length using sorted() with a lambda on the index.

In [ ]:
sorted_indx=sorted(df.index, key=lambda x:len(x),reverse=True)
srt_df= sorted(df, key=lambda row: -len(row[clm_indx]))
df_sort= df.reindex(sorted_indx)

df_sort

### 4.7 Multi-Column Condition
- Create a column efficient_power = "Yes" if mpg > 20 and hp > 100, else "No".|

In [ ]:

df['efficient_power']= df.apply(lambda row: 'Yes' if row['mpg']> 20 and row['hp']>100 else 'No', axis=1)
print(df)

### 4.8 Normalize a Column
- Normalize mpg between 0 and 1 using a lambda inside apply():
- {normalized} = (x - min)/(max - min)

In [ ]:
min_mpg=df['mpg'].min()
max_pmg=df['mpg'].max()
df['normalized']=df['mpg'].apply(lambda x:(x-min_mpg)/(max_pmg-min_mpg))
df.head()

### 4.9 Extract First Word
- Extract the first word from each car name (index) into a new column car_make using map() with a lambda.

In [28]:
import io
df['car_make']= df.index.map(lambda x: x.split()[0])
df.head(2)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,efficient_power,normalized,car_make
Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4,Yes,0.451064,Mazda
Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4,Yes,0.451064,Mazda

### 4.10 Square and Add
- Create a column hp_mpg_calc = (hp² + mpg²) using apply() with a lambda.

In [41]:
df['p_mpg_calc']=df.apply(lambda row: row['hp']**2 + row['mpg']**2, axis=1)
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,efficient_power,normalized,car_make,p_mpg_calc
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,Yes,0.451064,Mazda,12541.00
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,Yes,0.451064,Mazda,12541.00
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,No,0.527660,Datsun,9168.84
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,Yes,0.468085,Hornet,12557.96
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,No,0.353191,Hornet,30974.69
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,No,0.327660,Valiant,11352.61
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,No,0.165957,Duster,60229.49
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,No,0.595745,Merc,4439.36
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,No,0.527660,Merc,9544.84
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,No,0.374468,Merc,15497.64
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,No,0.314894,Merc,15445.84
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,No,0.255319,Merc,32668.96
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,No,0.293617,Merc,32699.29
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,No,0.204255,Merc,32631.04
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,No,0.000000,Cadillac,42133.16
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,No,0.000000,Lincoln,46333.16
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,No,0.182979,Chrysler,53116.09
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,No,0.936170,Fiat,5405.76
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,No,0.851064,Honda,3628.16
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,No,1.000000,Toyota,5374.21
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,No,0.472340,Toyota,9871.25
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,No,0.217021,Dodge,22740.25
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,No,0.204255,AMC,22731.04
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,No,0.123404,Camaro,60201.89
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,No,0.374468,Pontiac,30993.64
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,No,0.719149,Fiat,5101.29
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,No,0.663830,Porsche,8957.00
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,Yes,0.851064,Lotus,13693.16
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,No,0.229787,Ford,69945.64
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,No,0.395745,Ferrari,31013.09
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,No,0.195745,Maserati,112450.00
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,Yes,0.468085,Volvo,12338.96

### 4.11 Filter by Col values
- Filter cars with mpg > 25.

In [40]:
#return just car names
fil_mpg = df[df['mpg']>25]

filter_cars= fil_mpg.index
filter_cars

Index(['Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Fiat X1-9',
       'Porsche 914-2', 'Lotus Europa'],
      dtype='object')

In [46]:
# return whol data
filter_car_mpg= df[df['mpg']>25]
filter_car_mpg

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,efficient_power,normalized,car_make,p_mpg_calc
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,No,0.936170,Fiat,5405.76
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,No,0.851064,Honda,3628.16
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,No,1.000000,Toyota,5374.21
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,No,0.719149,Fiat,5101.29
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,No,0.663830,Porsche,8957.00
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,Yes,0.851064,Lotus,13693.16

### 4.12 Filter and soted carnames by horsepower
- From above return a list of car names sorted by horsepower.

# End Here
- docs - 1nWPAH4oD_DNP9lfJXtrlrgufld4YwYoJHVoNUtWZGS4

In [47]:

filter_sorted_car= df[df['mpg']>25].sort_values(by='hp')
filter_sorted_car

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,efficient_power,normalized,car_make,p_mpg_calc
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,No,0.851064,Honda,3628.16
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,No,1.000000,Toyota,5374.21
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,No,0.936170,Fiat,5405.76
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,No,0.719149,Fiat,5101.29
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,No,0.663830,Porsche,8957.00
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,Yes,0.851064,Lotus,13693.16